.winner {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 42px;
}

.winner img {
    height: 40px;
    width: 40px;
    
}

.xWon {
    display: flex;
    gap: 20px;
    color: #127475;
    display: none;
    border: #0E9594 1px solid;
    
}

.oWon {
    display: flex;
    gap: 20px;
    color: #772b21;
    display: none;
    border: #F2542D 1px solid;
}

.tie {
    display: none;
    gap: 20px;
    color:gray;
    align-items: center;
    text-align: center;
    align-content: center;
    border: gray 1px solid;
}

.footer {
    height: 2vh;
    background-color: #127475;
}

.xWon, .oWon, .tie {

    padding: 40px;
    border-radius: 24px;
    background-color: #f5e6ce;
    box-shadow: 0px 0px 32px 6px rgba(255,250,239,1);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(255,250,239,1);
    -moz-box-shadow: 0px 0px 32px 6px rgba(255,250,239,1);
    position:fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0%);    
}