.reset {
    display: flex;
    gap: 24px;
    flex: 1;
    justify-content: center;
}

.button {
    display: flex;
    height: 80px;
    width: 80px;
    cursor: pointer;
    justify-content: center;
}

.title img {
    max-height: 20px;
}
#reset {
    transition: transform 100ms ease-in;
}

#reset:hover {
    transform: scale(1.1) rotate(180deg);
}

#reset:active {
    transform: scale(0.9) rotate(360deg);
}