body {
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    background-color: #F5DFBB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    user-select: none;
}

.header {
    display: flex;
    flex: 1;
    max-width: 800px;
    flex-direction: column;
}

.spacer {
    flex: 1;
}

.title {
    flex: 1;
    display: flex;
    font-size: 28px;
    gap: 10px;
    align-items: center;
    color: gray;
}

h1 {
    margin: 0;
    font-weight: 100;
}

.bottom {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}