body {
    display: flex;
    margin: 0;
    height: 100vh;
    border: 1px red solid;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F5DFBB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    user-select: none;
    border: blue 0px solid;
}

.header {
    display: flex;
    flex: 1;
    max-width: 800px;
    border: green 0px solid;
    flex-direction: column;
    

}

.spacer {
    flex: 1;
}

.title {
    flex: 1;
    display: flex;
    font-size: 28px;
    gap: 10px;
    align-items: center;
    color: gray;
}

.title img {
    max-height: 20px;
}

h1 {
    margin: 0;
    font-weight: 100;
}


.footer {
    display: flex;
    flex: 1;
    border: purple 1px solid;
}